<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "Scratchblox"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Scratchblox</name>

    <description>
        A ROBLOX ripoff made on scratch.mit.edu.
    </description>

    <author href="http://scratch.mit.edu/users/101Corp" email="[Your Email]">
        101Corp
    </author>

</widget>
